:host {
  border: 1px solid black;
  margin: 0 0 12px 0;

  display: flex;
  flex-direction: column;
  padding: 0 4px;
  background-color: white;

  min-height: 42px;

  .number {
    font-size: 110%;
    text-align: right;

    &.invalid {
      color: red;
    }
  }
}
