:host {
  display: flex;
  width: 550px;
  height: 400px;
  padding: 8px;
  background-color: hsl(0, 0%, 90%);

  .left {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;

    .buttons {
      display: flex;
      flex-wrap: wrap;

      > * {
        flex: 1 1 25%;
      }
    }
  }

  app-history {
    flex: 1 1 50%;
  }
}

