<div class="left">
  <app-display></app-display>
  <div class="buttons">
    <app-button [role]="'AC'"></app-button>
    <app-button [role]="'<'"></app-button>
    <div></div>
    <app-button [role]="'/'"></app-button>

    <app-button [role]="'7'"></app-button>
    <app-button [role]="'8'"></app-button>
    <app-button [role]="'9'"></app-button>
    <app-button [role]="'*'"></app-button>

    <app-button [role]="'4'"></app-button>
    <app-button [role]="'5'"></app-button>
    <app-button [role]="'6'"></app-button>
    <app-button [role]="'-'"></app-button>

    <app-button [role]="'1'"></app-button>
    <app-button [role]="'2'"></app-button>
    <app-button [role]="'3'"></app-button>
    <app-button [role]="'+'"></app-button>

    <app-button [role]="'+/-'"></app-button>
    <app-button [role]="'0'"></app-button>
    <app-button [role]="'.'"></app-button>
    <app-button [role]="'='"></app-button>
  </div>
</div>

<app-history></app-history>
